<div mat-dialog-title>{{ data?.headerTitle }}</div>

<div mat-dialog-content>
    <div class="payee-readonly-form">
        <div class="form-field">
            <label>{{ 'NAME' | translate }}</label>
            <div class="field-value">{{ name }}</div>
        </div>
        <div class="form-field">
            <label>{{ 'DISBURSEMENT_DATE' | translate }}</label>
            <div class="field-value">{{ disbursementDate }}</div>
        </div>
        <div class="form-field">
            <label>{{ 'AMOUNT' | translate }}</label>
            <div class="field-value">{{ amount | cbsNumberFormat }}</div>
        </div>
        <div class="form-field">
            <label>{{ 'DESCRIPTION' | translate }}</label>
            <div class="field-value">{{ description }}</div>
        </div>
    </div>
</div>

<div mat-dialog-actions align="end">
    <button mat-button (click)="close()">{{ 'CLOSE' | translate }}</button>
</div>
