:host ::ng-deep {
  .cbs-datepicker {
    position: relative;

    .mat-datepicker-toggle {
      position: absolute;
      top: 0;
      right: 0;
    }

    .mat-icon-button {
      // width: 32px;
      // height: 32px;
      // line-height: 32px;
    }

    // .mat-icon-button,
    // .mat-mdc-icon-button {
    //   padding: 0;
    //   min-width: 0;
    //   width: 40px; /* Desired width */
    //   height: 40px; /* Desired height */
    //   line-height: 40px; /* Center the icon vertically */
    //   transform: scale(0.7);
    // }

    &__age {
      position: absolute;
      top: 6px;
      right: 40px;
      color: #969696;
    }

    .mat-button-focus-overlay,
    .mat-button-ripple {
      display: none;
    }

    svg {
      width: 20px;
      height: 20px;
      fill: #bbb;
    }
  }
}
