<p-table #dt [value]="events" [styleClass]="'slds-table slds-table--bordered slds-table--cell-buffer'"
    [scrollable]="true" scrollHeight="calc(100% - 41px)" cbsMacAgent dataKey="id" [cbsMacAgentClass]="'cbs-mac-user'">

    <ng-template pTemplate="header">
        <tr>
            <th [style]="{'min-width':'65px', 'width':'65px'}">#</th>
            <th [style]="{'min-width':'170px', 'width':'170px'}">{{ 'DATE' | translate }}</th>
            <th [style]="{'min-width':'195px', 'width':'195px'}">{{ 'TYPE' | translate }}</th>
            <th [style]="{'min-width':'140px', 'width':'140px'}">{{ 'AMOUNT' | translate }}</th>
            <th class="slds-text-align--center" [style]="{'min-width':'90px', 'width':'90px'}">#</th>
            <th [style]="{'min-width':'195px', 'width':'195px'}">{{ 'CREATED_BY' | translate }}</th>
            <th [style]="{'min-width':'200px', 'width':'200px'}">{{ 'ENTRY_DATE' | translate }}</th>
            <th [style]="{'min-width':'80px', 'width':'80px'}">{{ 'STATUS' | translate }}</th>
            <th [style]="{'min-width':'200px', 'width':'200px', 'max-width':'200px'}">{{ 'COMMENT' | translate }}</th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-row let-expanded="expanded">
        <tr [ngClass]="rowStyleClass ? rowStyleClass(row) : ''">
            <td [style]="{'min-width':'65px', 'width':'65px'}">
                <span *ngIf="row['id'] > 0">{{ row['id']}}</span>
                <button (click)="onEventClick(row)" [ngClass]="{'cbs-treetable__toggler--expanded' : row.expanded }"
                    class="slds-button cbs-treetable__toggler slds-button--icon slds-button--icon-x-small slds-m-right--x-small"
                    aria-controls="expand" *ngIf="row['id'] === 0">
                    ...
                    <span class="slds-assistive-text">{{'TOGGLE' | translate}}</span>
                </button>
            </td>
            <td [style]="{'min-width':'170px', 'width':'170px'}">
                <span>{{ row['effectiveAt'] | cbsDateFormat }}</span>
            </td>
            <td class="slds-truncate" [style]="{'min-width':'195px', 'width':'195px'}">
                <ng-container *ngIf="row['otherFee']; else onlyType">
                    <span>{{ row['otherFee']['name'] + ' - ' + (row['eventType'] | translate) }}</span>
                </ng-container>
                <ng-template #onlyType><span>{{ row['eventType'] | translate }}</span></ng-template>
            </td>
            <td [style]="{'min-width':'140px', 'width':'140px'}">
                <span>{{ row['amount'] | cbsNumberFormat }}</span>
            </td>
            <td class="slds-text-align--center" [style]="{'min-width':'90px', 'width':'90px'}">
                <ng-container *ngIf="row['installmentNumber']; else empty">
                    <span class="">{{ row['installmentNumber'] }}</span>
                </ng-container>
                <ng-template #empty>
                    <div>-</div>
                </ng-template>
            </td>
            <td [style]="{'min-width':'195px', 'width':'195px'}">
                <span>{{ row['createdBy']['firstName'] + ' ' + row['createdBy']['lastName'] }}</span>
            </td>
            <td [style]="{'min-width':'200px', 'width':'200px'}">
                <span>{{ row['createdAt'] | cbsDateFormat }} {{ row['createdAt'] | cbsTimeFormat }}</span>
            </td>
            <td [style]="{'min-width':'80px', 'width':'80px'}">
                <ng-container *ngIf="row['deleted']; else empty">
                    <ngl-badge [type]="'error'">{{ 'DELETED' | translate }}</ngl-badge>
                </ng-container>
                <ng-template #empty>
                    <div class="slds-text-align--center">-</div>
                </ng-template>
            </td>
            <td [style]="{'min-width':'200px', 'width':'200px', 'max-width':'200px'}">
                <span class="slds-truncate slds-show">{{ row['comment'] }}</span>
            </td>
        </tr>
    </ng-template>

    <ng-template let-parentEvent pTemplate="rowexpansion">
        <tr>
            <td colspan="9">
                <table>
                    <tbody>
                        <ng-container *ngFor="let event of parentEvent.childNotes">
                            <tr class="cbs-tr-hover">
                                <td [ngStyle]="{'min-width':'50px', 'width':'50px', 'padding-left': '5rem'}">
                                    <span>{{event['id']}}</span>
                                </td>
                                <td [ngStyle]="{'min-width':'170px', 'width':'170px'}">
                                    {{ event['effectiveAt'] | cbsDateFormat }} {{ event['effectiveAt'] | cbsTimeFormat
                                    }}
                                </td>
                                <td [ngStyle]="{'min-width':'195px', 'width':'195px'}">
                                    {{ event['eventType'] | translate }}</td>
                                <td [ngStyle]="{'min-width':'140px', 'width':'140px'}">
                                    {{ event['amount'] | cbsNumberFormat }}</td>
                                <td [ngStyle]="{'min-width':'90px', 'width':'90px'}">
                                    <ng-container *ngIf="event['installmentNumber']; else empty">
                                        <span class="">{{ event['installmentNumber'] }}</span>
                                    </ng-container>
                                    <ng-template #empty>
                                        <div>-</div>
                                    </ng-template>
                                </td>
                                <td [ngStyle]="{'min-width':'195px', 'width':'195px'}">
                                    {{ event['createdBy']['firstName'] + ' ' + event['createdBy']['lastName'] }}
                                </td>
                                <td [ngStyle]="{'min-width':'200px', 'width':'200px'}">
                                    {{ event['createdAt'] | cbsDateFormat }} {{ event['createdAt'] | cbsTimeFormat }}
                                </td>
                                <td [ngStyle]="{'min-width':'80px', 'width':'80px'}">
                                    <ng-container *ngIf="event['deleted']; else empty">
                                        <ngl-badge [type]="'error'">{{ 'DELETED' | translate }}</ngl-badge>
                                    </ng-container>
                                    <ng-template #empty>
                                        <div class="slds-text-align--center">-</div>
                                    </ng-template>
                                </td>
                                <td [ngStyle]="{'min-width':'200px', 'width':'200px', 'max-width':'200px'}">
                                    <span class="slds-truncate slds-show">{{ event['comment'] }}</span>
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="9">{{ 'NO_RECORDS_FOUND' | translate }}</td>
        </tr>
    </ng-template>
</p-table>
<cbs-loading-indicator [isFixed]="true" [showLoader]="eventsState?.loading || isLoading"></cbs-loading-indicator>
<p *ngIf="!events" class="slds-text-align--center slds-m-top--large">{{ 'NO_DATA' | translate }}</p>