<cbs-header>
    <cbs-page-header>
        <div cbs-page-header-layout="left">
            <cbs-heading-block [isMainPage]="true" headingTitle="{{ 'PROFILES' | translate }}" [svgData]="svgData">
            </cbs-heading-block>
        </div>

        <div cbs-page-header-layout="center">
            <cbs-search-input
                [searchQuery]="searchQuery"
                (onClear)="clearSearch()"
                (onSearch)="search($event)"
                placeholder="{{ 'SEARCH' | translate }}"></cbs-search-input>
        </div>

        <div cbs-page-header-layout="right">
            <button *cbsVisibleByPermission="{
                group: 'MAKER_CHECKER',
                permissions: ['MAKER_FOR_PEOPLE', 'MAKER_FOR_COMPANY', 'MAKER_FOR_GROUP'] }"
                    mat-button
                    [matMenuTriggerFor]="createMenu"
                    class="mat-button-neutral">
                <mat-icon>add</mat-icon>
                {{ 'CREATE' | translate }}
            </button>
            <mat-menu #createMenu="matMenu">
                <button mat-menu-item routerLink="/profiles/people/create">
                    <mat-icon>person</mat-icon>
                    {{ 'PROFILE_PERSON' | translate }}
                </button>
                <button mat-menu-item routerLink="/profiles/companies/create">
                    <mat-icon>business</mat-icon>
                    {{ (currentInstance === 'rwanda' ? 'COMPANY_GROUP' : 'PROFILE_COMPANY') | translate }}
                </button>
                <button *ngIf="currentInstance != 'rwanda'" mat-menu-item routerLink="/profiles/groups/create">
                    <mat-icon>group</mat-icon>
                    {{ 'PROFILE_GROUP' | translate }}
                </button>
            </mat-menu>
        </div>
        <!-- /cbs-page-header-layout = right -->
    </cbs-page-header>
    <!-- cbs-page-header -->
</cbs-header>
<!-- cbs-header -->


<main class="cbs-main cbs-main--pt-sm">

    <table mat-table [dataSource]="(profilesData | async)?.profiles" class="mat-elevation-z8">

        <!-- Full Name Column -->
        <ng-container matColumnDef="fullName">
            <th mat-header-cell *matHeaderCellDef>{{ 'FULLNAME' | translate }}</th>
            <td mat-cell *matCellDef="let profile" (click)="goToProfile(profile)">
                <div class="profile-name-cell">
                    <mat-icon *ngIf="profile?.type === 'PERSON'">person</mat-icon>
                    <mat-icon *ngIf="profile?.type === 'GROUP'">group</mat-icon>
                    <mat-icon *ngIf="profile?.type === 'COMPANY'">business</mat-icon>
                    <span>{{profile?.name}}</span>
                </div>
            </td>
        </ng-container>

        <!-- Profile Type Column -->
        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef>{{ 'PROFILE_TYPE' | translate }}</th>
            <td mat-cell *matCellDef="let profile">
                <mat-chip [color]="getTypeColor(profile?.type)" selected>{{ profile?.type | translate }}</mat-chip>
            </td>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef>{{ 'MAKER_CHECKER_STATUS' | translate }}</th>
            <td mat-cell *matCellDef="let profile">
                <mat-chip *ngIf="profile?.status === 'LIVE'" color="primary">{{'LIVE' | translate}}</mat-chip>
                <mat-chip *ngIf="profile?.status === 'PENDING'" color="accent">{{'PENDING' | translate}}</mat-chip>
            </td>
        </ng-container>

        <!-- Branch Column -->
        <ng-container matColumnDef="branch">
            <th mat-header-cell *matHeaderCellDef>{{ 'BRANCH' | translate }}</th>
            <td mat-cell *matCellDef="let profile">{{ profile?.branchName | translate }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="goToProfile(row)"></tr>
    </table>

    <cbs-loading-indicator [isFixed]="true" [showLoader]="(profilesData | async)?.loading"></cbs-loading-indicator>

    <div class="pagination-container"
          *ngIf="(profilesData | async)?.totalElements > (profilesData | async)?.size">
        <mat-paginator
            *ngIf="(profilesData | async)?.loaded"
            [length]="(profilesData | async)?.totalElements"
            [pageSize]="(profilesData | async)?.size"
            [pageSizeOptions]="[5, 10, 20, 50]"
            (page)="onPageChange($event)"
            showFirstLastButtons>
        </mat-paginator>
    </div>

</main>
<!-- ./cbs-main -->

